@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root {
    --navy-main-background: #090b1a;
    --blue-card-background: #1c1a38;
    --purple-accent: #aa5cdb;

    --white-main-heading-stats: #ffffff;
    --white-main-paragraph: #ffffffbf;
    --white-stat-headings: #ffffff99;

    --font-primary: 'Inter';
    --font-secondary: 'Lexend Deca';

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: var(--font-primary), Arial, Helvetica, sans-serif;
    font-size: 0.93rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: var(--navy-main-background);
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1400px;
    width: 100%;
    max-height: 600px;
    height: 100vh;
    color: var(--white-main-heading-stats);
    border-radius: 15px;
    background-color: var(--blue-card-background);
}

.content__img {
    position: relative;
    height: 100%;
    width: 50%;
    background-color: var(--blue-card-background);
    background-image: url('../images/image-header-desktop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 15px 15px 0;
    overflow: hidden;
}

.content__img__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #58188099;
}

.content__text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100%;
    width: 50%;
    padding: 100px;
}

.content__text > h1 {
    font-size: 3rem;
}

.content__text > h1 > span {
    color: var(--purple-accent);
}

.content__text > p {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--white-main-paragraph);
}

.content__text__info {
    font-family: var(--font-secondary), Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.content__text__info article {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content__text__info__number {
    font-size: 2.2rem;
    font-weight: 700;
}

.content__text__info__desc {
    font-weight: 400;
    text-transform: uppercase;
    color: var(--white-stat-headings);
    letter-spacing: 0.1rem;
}

@media (max-width: 1460px) {

    .content {
        max-width: 980px;
        max-height: 500px;
    }

    .content__text {
        gap: 20px;
        padding: 70px;
    }
    
    .content__text > h1 {
        font-size: 2rem;
    }

    .content__text > p {
        font-size: 1rem;
    }

    .content__text__info article {
        gap: 5px;
    }

    .content__text__info__number {
        font-size: 1.9rem;
    }

    .content__text__info__desc {
        font-size: 0.9rem;
    }

}

@media (max-width: 960px) {

    .content {
        max-height: none;
        height: auto;
        max-width: 500px;
        flex-direction: column;
    }

    .content__img {
        height: 250px;
        width: 100%;
        border-radius: 15px 15px 0 0;
        background-image: url('../images/image-header-mobile.jpg');
    }

    .content__text {
        align-items: center;
        flex: auto;
        height: auto;
        width: 100%;
        text-align: center;
        padding: 20px;
        font-family: 0.9rem;
    }

    .content__text__info {
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0;
    }


    .content__text h1 {
        font-size: 1.8rem;
    }

    .content__text > p {
        font-size: 0.8rem;
    }

    .content__text__info__number {
        font-size: 1.5rem;
    }

}